<%- include('../head'); -%>
<%- include('../sidebar'); -%>
<%- include('../header'); -%>


<div class="content-wrap">

	<div class="main">
		<div class="container-fluid">
			<!-- /# row -->
			<section id="main-content">
				<div class="row">

					<div class="col-lg-12">

						<div class="card">
							<div class="card-title">
								<h3>Enviar Documentos</h3>
							</div>

							<div class="col-md-12" style="font-size: x-large;">

								<form id="saveIoT" method="POST" action="/pro_article/save" enctype="application/json">

									<h4 style="text-align: center;">Informações de Envio</h3>

									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="labelPkiUser">Usuário Responsável:</label>
											<select class="form-control" aria-label="Selecione o usuário" id="userPki">
												<!-- <option value="user1" selected>user1</option> -->
												<!-- <option value="user2">user2</option>
												<option value="user3">user3</option> -->
											</select>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="labelPkiUser">Empresa de Origem:</label>
											<input type="text" class="form-control" id="companyOrigin" name="companyOrigin"
												placeholder="Digite a chave do Usuário" required>
										</div>
										<div class="form-group col-md-6">
											<label for="labelPkiIoT">Empresa de Destino:</label>
											<input type="text" class="form-control" id="companyDestination" name="companyDestination"
												placeholder="Digite a chave do dispositivo" required>
										</div>
									</div>

									<%- include('./selectDocument'); -%>
									<%- include('./convertDocument'); -%>
									
									<div class="row">
										<div class="col-lg-5"></div>
										<div class="form-group col-md-12 text-center">
											<button type="submit" class="btn btn-success">Salvar</button>
										</div>
										<div class="col-lg-5"></div>
									</div>

								</form>

							</div>

						</div>
					</div>

				</div>
			</section>
		</div>
	</div>
</div>

<script src="/js/proArticleHelper.js"></script>


<%- include('../importScript'); -%>